.zui-header {
    position: relative;
    padding: 0 24px 0 0 !important;
    background-color: #5578DC !important;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    z-index: 9;

    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
        color: #fff;
    }

    .input-search {

        input {
            border: none;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }
    }

    .zui-avatar {
        margin-right: 5px;
        vertical-align: -6px;
        background-color: #FFC32D;
        box-shadow: 0 0 0 1px #fff;
    }
}